/* PHASE 1: Header */
body {
    font-family: 'Hind', sans-serif;
}

header {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: beige;
    background-color: #AE6E4E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 80px; */
    /* height: 100%; */
} 

nav {
    display: flex;
    font-family: 'Amaranth', sans-serif;
    font-size: 24px;
    align-items: center;
    position:relative
}

nav li {
    /* margin: 10px; */
    /* padding: 10px; */
    height: 100%;
    border: 1px solid black;
    text-align: center;
    /* width: 40px; */
}

.header-list a {
    padding: 10px;
    display: flex;
}

.header-list:hover {
    background-color: #8B4411;
}

.badge {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    color: white;
}

.header-items {
    position: absolute;
    background-color: beige;
    color: black;
    display: none;
}

.header-list li:hover header-items{
    display: block;
}

.header-items li{
    border: 1px solid black;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    padding: 5px;
}

