body{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    color: darkblue;
}
.board{
    display:flex;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:   lightblue;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0;
    margin:0;
    border-style: outset;
}



.modal-screen {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: auto;
    width: 250px;
    top: 200px;
    left: 450px;
    background-color: aliceblue;
    z-index: 2;
    padding: 20px;
    border-radius: 20px;
}

.modal-form .header {
    color: black;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#welcome h3 {
    margin: 5px;
    border: none;
}

#game-over{
    padding-bottom: 20px;
    border: none;
}


.modal {
    display: none;
}

.modal.is-open {
    display: block;
}