<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button>
					<i class="fa fa-bars"></i>
					<span>sections</span>
				</button>
			</li>
			<li id="search-modal-btn">
				<span><i class="fa fa-search"></i></span>
				search
			</li>
		</ul>
	</nav>
	<nav class ="right-nav">
		<ul>
			<li id="subscribe-btn">
				<button>
					<i class="fa fa-subscribe"></i>
					<span>subscribe now</span>
				</button>
			</li>
			<li id="login-btn">
				<button>
					<i class="fa fa-login"></i>
					<span>log in</span>
				</button>
			</li>
			<li id="gear-btn">
				<span><i class="fas fa-cog"></i></span>
			</li>
		</ul>
	</nav>
</header>