<header class="masthead">

<section class="language-nav">
<ul>
    <li><a href="#">CSS</a> </li>
    <li><a href="#">HTML</a></li>
    <li><a href="#">Javascript</a></li>
    <li><a href="#">Ruby</a></li>
</ul>
</section>

<img class="logo" src="assets/AA_Times_Logo.png" alt="AA Times Logo">

<ul class="masthead-links">
    <li> Tuesday, October 18, 2016 </li>
    <li> 
        <span class="underliners">
            <i class="fas fa-newspaper"></i>
            Today’s Paper
        </span>
    </li>
        <li> 
        <span class="underliners">
            <i class="fas fa-video"></i>
            Videos
        </span>
    </li>
    <li><button> 77°F </button></li>
    <li><button> AAO <strong>+100%</strong></button></li>
</ul>
</header>