/* PHASE 12: Modal */
.modal-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
}

.modal-form {
    position: absolute;
    height: 40%;
    width: 40%;
    top: 20%;
    bottom: 30%;
    left: 30%; 
    right: 30%;
    z-index: 2;
    background-color: white;
    border-radius: 20px;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    align-items: center;
    margin: 20px;
}

.modal-form > .top-nav {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-size: 40px;
    align-items: right;
    /* width: 30px; */
    align-self: right;
    /* padding-left: 90%; */
}

.modal-form .close {
    width: 30px;
    text-align: center;
    right:0;
}

.modal-form > h1 {
    font-size: 40px;
}

.modal-form > p {
    padding-bottom: 10px;
}

.modal-form > form {
    display: inline-block;
    font-size: 18px;
    background-color: inherit;
    width: 100%;
    height: auto;
    padding-right:0;
}

.modal.is-open{
    display: block;
}

.modal{
    display: none;
}